@import "../Utils/variables.scss";
@import "../Utils/keyframes.scss";

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#blockpage {
    animation: flou 4.5s;
}

#loading {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: loading 3s;
    visibility: hidden;
    
    &_utensils {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        font-size: 3em;
        animation: utensils 3s;
    }

    &_text {
        position: absolute;
        right: 0;
        left: 0;
        top: 100px;
        bottom: 0;
        font-size: 2.5em;
        text-align: center;
        animation: loading-text 3s;
        visibility: hidden;
    }
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    &_img {
        height: 30px;
        margin-bottom: 20px;
    }

    &_position {
        display: flex;
        align-items: baseline;
        background: rgb(233, 235, 235);
        width: 100%;
        align-content: center;
        justify-content: center;
        box-shadow: inset 0 6px 6px -6px $shadow-color--1;
        font-size: 1.1em;
        font-weight: bold;
        color: rgb(53, 52, 52);
    }
    
    .header_icon {
        margin-right: 20px;
    }

    &_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: rgb(245, 245, 245);
        padding-bottom: 50px;
        width: 100%;

        h1 {
            font-size: 1.5em;
            margin-right: 70px;
            margin-left: 70px;
            margin-top: 50px;
        }

        h2 {
            font-size: 1em;
            font-weight: lighter;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        button {
            background: $color-secondary;
            box-shadow: inset 0 -18px 25px -2px $color-primary, 1px 2px 3px 1px $shadow-color--1;
            border-radius: 25px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-right: 25px;
            padding-left: 25px;
            color: white;
            border: none;
            font-size: 0.9em;
            cursor: pointer;
            &:hover {
                filter: brightness(105%);
                box-shadow: inset 0 -18px 25px -2px $color-primary, 1px 2px 2px 3px $shadow-color--1 ;
            }
        }
    }
}

#fonctionnement {

    h3 {
        font-size: 1.5em;
        margin-left: 30px;
        margin-top: 50px;
    }

    &_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-bottom: 25px;
    }

    i {
        display: inline-block;
        padding-right: 35px;
        color: rgb(163, 162, 162);
        padding-left: 30px;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: white;
        
    }

    li {
        position: relative;
        width: 80%;
        margin: 0 auto 30px auto;
        background-color: $color-background--1; 
        box-shadow: 2px 4px 12px 0px $shadow-color--1;
        border-radius: 20px;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: left;
        font-weight: bold;

        &:hover {
            background: #9256dc31;
            &:hover i {
                color: $color-primary;
            }
        }

        .fa-mobile-alt {
            font-size: 1.27em;
            padding-right: 38px;
        }
    }
}

#restaurants {
    background: $color-background--1;
    padding-left: 30px;
    padding-right: 30px;
    
    a:link {
        color: black;
    }

    h3 {
        margin-top: 0;
        padding-top: 50px;
    }
    
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        height: 1150px;
        padding-bottom: 50px;
        }

        .restaurants_carte {
            position: relative;
            background: white;
            border-radius: 20px;
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
            
            &:hover {
                box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.50);
            }

            .restaurants_description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                margin-left: 10px;
                margin-bottom: 15px;
                
                .heart {
                    position: relative;
                    right: 30px;
                    height: 20px;
                    width: 20px;
        
                    &:hover .full {
                        color: $color-primary;
                        display: block;
                        background: -webkit-linear-gradient($color-primary, $color-secondary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transform: scale(1);
                        animation: coeur 1s;
                    }
        
                    .empty {
                        font-size: 1.5em;
                        
                    }
            
                    .full {
                        position: absolute;
                        top: 0;
                        color: transparent;
                        font-size: 1.5em;                      
                    }
                }

                h4 {
                    margin-bottom: 0;
                }

                p {
                    margin-top: 10px;
                }
            }

            img {
                height: 180px;
                width: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
            
            .nouveau {
                border-radius: 2px;
                font-weight: bold;
                font-size: 0.8em;
                padding: 5px 10px 5px 10px;
                position: absolute;
                right: 15px;
                top: 15px;
                background: $color-tertiary;
                color: #128a6c;
            }
        }
}

footer {
    background: rgb(59, 59, 59);
    height: 100%;
     
    h5 {
        font-family: 'shrikhand';
        color: white;
        font-size: 1.5em;
        font-weight: lighter;
        margin-left: 30px;
        padding-top: 30px;
        margin-top: 0;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 145px;
        
        li {
            margin-left: 30px;
            list-style-type: none;

            a:visited {
                color: white;
            }

            i {
                width: 5px;
                margin-right: 20px;
                color: white;
            }

            a:link, a{
                color: white;
                &:hover {
                    color: $color-tertiary;
                }
            }
            
        }
    }
}

@media screen and (min-width:920px) {

    #fonctionnement {

        h3 {
            text-align: center;
            margin-left: 0;
            margin-bottom: 40px;
        }

        &_list {
            display: flex;
            justify-content: space-around;
            
            
            li {
                display: flex;
                width: 25%;
                text-align: left;
                align-items: center;
            }
        }
    }

    #restaurants {
        &_container {
            flex-flow: row wrap;
            height: auto;
            justify-content: space-between;
        }

        h3 {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 40px;
        }

        .restaurants_carte {
            width: 48%;
            margin-bottom: 30px;
        }
    }

    footer {
        h5, ul {
            text-align: center;
        }
    }
}

