@import "../Utils/variables.scss";

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
    
    a:link {
        text-decoration: none;
        color: none;
    }

    a:visited {
        color: black;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


h1, h3 {
    font-family: 'shrikhand', sans-serif;
    font-weight: lighter;
}

header {

    div {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 15px;

        i {
            position: absolute;
            left: 0;
            bottom: 4px;
            font-size: 1.5em;
        }
    }

    #header_img {
        height: 300px;
        width: 100%;
        z-index: 0;
        object-fit: cover;
        position: relative;
    }
}

#section_container {
    z-index: 1;
    position: relative;
    margin-top: -40px;
    border-radius: 30px 30px 0px 0px;
    background-color: $color-background;

    .section_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h1 {
            margin-left: 15px;
            margin-top: 0;
            padding-top: 25px;
            font-size: 1.8em;
        }

        .empty {
            position: relative;
            right: 10px;
            font-size: 1.5em;
        }

        .full {
            position: absolute;
            right: 10px;
            font-size: 1.5em;
            color: transparent;
            &:hover {
                transition: ease-in-out 1s;
                color: $color-primary;
            }
        }
    }

    h2 {
        margin-top: 0;
        margin-left: 15px;
        border-bottom: 1px solid green;
    }

    
    
    .plats {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        margin-left: 15px;
        margin-right: 15px;
    
        &_bloc {
            background-color: white;
            border-radius: 15px;
            padding: 15px;
    
            p {
                margin: 0;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 1.2em;
            }
    
            .prix {
                font-weight: bold;
                margin-right: 15px;
            }
        }
    
        &_description {
            display: flex;
            justify-content: space-between;
        }
    }

}