$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background--1: #f6f6f6;
$shadow-color--1: rgb(163, 162, 162);

@mixin box-shadow-unset {
    box-shadow: 2px 4px 12px 0px $shadow-color--1;
}